<?xml version="1.0"?>
<configuration>
  <configSections>    
    <sectionGroup name="productos" type="int">
      <section name="productos" type="int"/>
    </sectionGroup>    
  </configSections>

  <appSettings>
    <add key="producto" value="PréstamoPersonal">      
    </add>
  </appSettings>
  
  <productos>
    <producto>
      <nombre>Préstamo Personal</nombre>
      <tipo>pp</tipo>
    </producto>
    <producto>
      <nombre>Tarjeta de Crédito</nombre>
      <tipo>tc</tipo>
    </producto>
    <producto>
      <nombre>Tarjeta de Débito</nombre>
      <tipo>td</tipo>
    </producto>
    <producto>
      <nombre>Cuenta Corriente</nombre>
      <tipo>cc</tipo>
    </producto>
    <producto>
      <nombre>Cuenta de Ahorro</nombre>
      <tipo>ca</tipo>
    </producto>
  </productos>
</configuration>
